 <!-- BEGIN: Main Menu-->

 <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content">
      <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
        <li class=" nav-item"><a href="/"><i class="fa fa-fw fa-home"></i><span class="menu-title" data-i18n="Dashboard">Dashboard</span><span class="badge badge badge-info badge-pill float-right mr-2">3</span></a>
        </li>
        <li class=" navigation-header"><span data-i18n="Admin Panels">Admin Panels</span><i class="fa fa-fw fa-ellipsis-h" data-toggle="tooltip" data-placement="right" data-original-title="Admin Panels"></i>
        </li>
        <li class=" nav-item"><a href="#" target="_self"><i class="fa fa-fw fa-shopping-cart"></i><span class="menu-title" data-i18n="eCommerce">Operators</span></a>
        </li>
        <li class=" nav-item"><a href="#" target="_self"><i class="fa fa-fw fa-plane"></i><span class="menu-title" data-i18n="Travel &amp; Booking">Clients</span></a>
        </li>
        <li class="nav-item has-sub open"><a href="javascript:void(0)" onclick="return false;"><i class="fa fa-users"></i><span class="menu-title" data-i18n="Cards">Users</span></a>
          <ul class="menu-content" style="display:none;">
            <li class="is-shown"><a class="menu-item" href="/accounts/userslist"><i></i><span data-i18n="Bootstrap">All Users</span></a>
            </li>
            <li class="is-shown"><a class="menu-item" href="/accounts/userprofile"><i></i><span data-i18n="Headings">User details</span></a>
            </li>
            <li class="is-shown"><a class="menu-item" href="/accounts/userslist"><i></i><span data-i18n="Options">Users Transactions</span></a>
            </li>
          </ul>
        </li>
        <li class=" nav-item"><a href="#" target="_self"><i class="fa fa-fw fa-stethoscope"></i><span class="menu-title" data-i18n="Hospital">Local Govt</span></a>
        </li>
        <li class=" nav-item"><a href="#" target="_self"><i class="fa fa-fw fa-bitcoin"></i><span class="menu-title" data-i18n="Crypto">Transactions</span></a>
        </li>
        <li class=" nav-item"><a href="#" target="_self"><i class="fa fa-fw fa-tag"></i><span class="menu-title" data-i18n="Support Ticket">Notification</span></a>
        </li>
        <li class=" nav-item"><a href="#" target="_self"><i class="fa fa-fw fa-bank"></i><span class="menu-title" data-i18n="Bank">Complaints</span></a>
        </li>       
      </ul>
    </div>
  </div>

  <!-- END: Main Menu-->