{% extends 'client/layout.html' %}
{% load static %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container" data-aos="fade-in">
      <h1>Register</h1>
      <h2>We are in the business of keeping the city clean and healthy</h2>
      <div class="d-flex align-items-center">
        <i class="bx bxs-right-arrow-alt get-started-icon"></i>
        <!-- <a href="#about" class="btn-get-started scrollto">Get Started</a> -->
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-md-12 border-grey border-lighten-3" data-aos="fade-up" style="background:#fafafa; border-radius:10px; box-shadow:1px 3px 3px #ccc">
            <div class="col-md-8 offset-md-2 p-5">
              <!-- <h3>Register</h3> -->
                    <div class="card px-2 py-5 row mb-0">
                      <div class="card-content">
                        <div class="card-body pt-0">
                          {% if messages %}
                              {% for message in messages %}
                              <div {% if message.tags %} class="{{ message.tags }} alert alert-danger mb-2"{% endif %}>{{ message }}</div>
                              {% endfor %}
                          {% endif %}
                          <form class="form-horizontal" method="POST" action="login">
              
                            {% csrf_token %}
              
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group position-relative">
                                  <input type="text" name="username" placeholder="User Name" class="form-control">
                                  <div class="form-control-position"></div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group position-relative">
                                  <input type="password" name="password" placeholder="Password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                  title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters">
                                  <div class="form-control-position"></div>
                                </div>
                              </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-block">Login</button>
                          </form>
                        </div>
                      </div>
                      <div class="card-footer pb-0">
                        <p class="text-center"><a href="accounts/recover-password" class="card-link">Recover password</a></p>
                        <p class="text-center">Create new account ? <a href="/accounts/register" class="card-link">Register</a>
                        </p>
              </section>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="fade-up">

        <div class="owl-carousel clients-carousel">
          <img src="{% static 'assets/assets/img/clients/client-1.png' %}" alt="">
          <img src="{% static 'assets/assets/img/clients/client-2.png' %}" alt="">
          <img src="{% static 'assets/assets/img/clients/client-3.png' %}" alt="">
          <img src="{% static 'assets/assets/img/clients/client-4.png' %}" alt="">
          <img src="{% static 'assets/assets/img/clients/client-5.png' %}" alt="">
          <img src="{% static 'assets/assets/img/clients/client-6.png' %}" alt="">
          <img src="{% static 'assets/assets/img/clients/client-7.png' %}" alt="">
          <img src="{% static 'assets/assets/img/clients/client-8.png' %}" alt="">
        </div>

      </div>
    </section><!-- End Clients Section -->

  
    
  </main><!-- End #main -->
  {% endblock content%}