{% extends 'accounts/layout.html' %}

{% block content %}
{% load static %}
<!-- BEGIN: Content-->
<section class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <div class="container">
                <h1 class="d-5 text-center">
                    Lagos State Waste Management Portal
                </h1>
                <p class="text-center text-italics">
                    This is the Managementportal for Lagos State Waste Management Services.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- END: Content-->
{% endblock %}