{% extends 'accounts/layout.html' %}

{% block content %}
{% load static %}
<!-- BEGIN: Content-->
 <div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <section class="row navbar-flexbox-container">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="col-lg-8 col-md-8 col-10 box-shadow-2 p-0">
            <div class="card border-grey border-lighten-3 px-2 py-2 row mb-0">
              <div class="card-header no-border pb-0">
                <div class="card-title text-center">
                  <img alt="modern admin logo" src="{% static 'app-assets/images/logo/logo.png' %}">
                  <span class="brand-text"><strong>WASTE MGT</strong></span>
                </div>
                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span><strong>Register
                      Now</strong></span></h6>
              </div>
              <div class="card-content">
                <div class="card-body pt-0">
                  {% if messages %}
                      {% for message in messages %}
                      <div {% if message.tags %} class="{{ message.tags }} alert alert-danger mb-2"{% endif %}>{{ message }}</div>
                      {% endfor %}
                  {% endif %}
                    <form class="form-horizontal" method="POST" action="register">

                    {% csrf_token %}

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group position-relative">
                          <input type="text" name="username" placeholder="User Name" required class="form-control">
                          <div class="form-control-position"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group position-relative">
                          <input type="text" name="first_name" placeholder="First Name" class="form-control" required>
                          <div class="form-control-position">
                            <i class="fa fa-user"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group position-relative">
                          <input type="text" name="last_name" placeholder="Last Name" class="form-control" required>
                          <div class="form-control-position">
                            <!-- <i class="fa fa-user"></i> -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group position-relative">
                          <input type="email" name="email" placeholder="Email Address" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                          <div class="form-control-position">
                            <!-- <i class="fa fa-envelope-o"></i> -->
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group position-relative">
                          <input type="file" name="profile_pics" placeholder="Profile Picture" class="form-control">
                          <div class="form-control-position">
                            <!-- <i class="fa fa-user"></i> -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group position-relative">
                          <input type="text" name="state" placeholder="State" class="form-control">
                          <div class="form-control-position"></div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group position-relative">
                          <input type="text" name="lga" placeholder="Local Government Area" class="form-control">
                          <div class="form-control-position">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group position-relative">
                          <input type="password" name="password" placeholder="Password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                          title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters">
                          <div class="form-control-position"></div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group position-relative">
                          <input type="password" name="confirm_password" placeholder="Confirm Password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                          title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters">
                          <div class="form-control-position">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
        
                      <div class="col-md-12">
                        <div class="form-group position-relative">
                          <textarea name="address" id="" cols="30" rows="3" class="form-control"></textarea>
                          <div class="form-control-position">
                            <!-- <i class="fa fa-user"></i> -->
                          </div>
                          </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-info btn-block">Register</button>
                  </form>
                </div>
              </div>
              <div class="card-footer pb-0">
                <p class="text-center"><a href="/accounts/recover-password" class="card-link">Recover password</a></p>
                <p class="text-center">Already have an account ? <a href="/accounts/login" class="card-link">Login</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>
<!-- END: Content-->
{% endblock %}